
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<!--Inicia contenido de cuerpo-->
<div id="content_wrapper">
    <!--Inicia titulo de página-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0">
        <ul>
            <li><a href="javascript:;">Ofertas Especiales</a></li>
        </ul>
    </div>
    <!--Termina titulo de pagina-->
    <div class="clearfix"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="travel_heading center">Ofertas Recientes</h3>
            </div>
        </div>
    </div>

    <section class="travel_section section_overlay light mb-100" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" ; min-height:500px;">
        <!--Inicia ofertas-->
        <div class="container">
            <div class="row">
                <div class="offer_wrapper">
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="~/Content/images/Home/spa_desayuno.jpg" alt="" />
                            <div class="text_wrapper">
                                <h3>Desayuno & SPA Gratis <br>por dos días</h3>
                                <a href="javascript:;" class="btn-travel btn-green">No te lo pierdas</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="~/Content/images/Home/Habitacion lujosa.png" alt="" height="254" />
                            <div class="text_wrapper">
                                <h3>30% de descuento en habitacioes lujosas</h3>
                                <a href="javascript:;" class="btn-travel btn-green">Limitado</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="~/Content/images/Home/dublin2.jpg" alt="" />
                            <div class="text_wrapper">
                                <h3>Disfruta tu viaje a Dublin <br>con 40% de descuento</h3>
                                <a href="javascript:;" class="btn-travel btn-green">No esperes</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="~/Content/images/Home/casaPlaya.jpg" alt="" />
                            <div class="text_wrapper">
                                <h3>Casa en la playa con 30% de descuento</h3>
                                <a href="javascript:;" class="btn-travel btn-green">Reserva ahora mismo</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="~/Content/images/Home/viajeAustralia.jpg" alt="" />
                            <div class="text_wrapper">
                                <h3>Vuelo desde Australia hasta África con 50% de descuento</h3>
                                <a href="javascript:;" class="btn-travel btn-green">Impresionante</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="~/Content/images/Home/excursion.jpg" alt="" />
                            <div class="text_wrapper">
                                <h3>Viaje de excursion con tiquetes de vielo con 20% de descuento</h3>
                                <a href="javascript:;" class="btn-travel btn-green">Aprovechá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Termina ofertas-->
    </section>
    <!--Inicia anunio-->

    <section class="travel_section section_overlay dark2 pb-50 pt-50" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" ; min-height:382px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="offer_call_to_action text-center">
                        <h3>Hotel y Comida <span>Gratis..!</span></h3>
                        <p>Oferta que no puedes dejar pasar para visitar Canadá. Sólo para ti</p>
                        <h4>Primeros 50 clientes</h4>
                        <a href="javascript:;" class="btn-travel black">Ingresa ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Termina anunio-->
    <!--Inicia Mas ofertas-->
    <section class="travel_section pb-50 pt-50" style="min-height:382px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-8">
                    <div class="offer_hex_wrapper">
                        <div class="hive offer_hex_item blog-4s-first">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('Habitacion.jpg')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>Oferta Semanal</span>
                                                                                    <h4>Habitación 10% desc</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Finaliza primer hexagono -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="hive offer_hex_item">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('desayuno.jpg')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>Oferta Mensual</span>
                                                                                    <h4>Desayuno Gratis</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Segundo hexagono -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hive offer_hex_item">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('habitacion.jpg')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>Oferta Mensual</span>
                                                                                    <h4>Habitaciones 2x1</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Finaliza tercer hexagono -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="hive offer_hex_item blog-4s-first">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('billete-avion.jpg')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>Oferta Semanal</span>
                                                                                    <h4>Tiquete 40% de desc</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- finaliza cuarto hexagono-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hive offer_hex_item">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('vuelos.jpg')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>Oferta Semanal</span>
                                                                                    <h4>Vuelos 20% de desc</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Finaliza quinto hexagono-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end blog  -->
                    </div>
                </div>


                <div class="col-lg-6 col-md-5 col-sm-4">
                    <div class="offer_detail_wrapper">
                        <h3 class="travel_heading right">Otras Ofertas</h3>
                        <p class="text-right">
                            Nuestra empresa busca que todas las personas tengan la oportunidad de tener una experiencia inolvidable, sin embargo nuestro
                            fin es que nuestros paquetes y promciones se adapten a las posibilidades de nuestros clientes, abriendo espacio para viajar cómodamente
                            a un precio aceptable.
                        </p>
                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Ofertas Diarias</li>
                            <li><i class="fa fa-check-square-o"></i> Ofertas Mensuales</li>
                            <li><i class="fa fa-check-square-o"></i> Paquetes Dias Festivos</li>
                            <li><i class="fa fa-check-square-o"></i> Ofertas de Viajes</li>
                            <li><i class="fa fa-check-square-o"></i> Últimas Ofertas</li>
                            <li><i class="fa fa-check-square-o"></i> Hand Picked Deals</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>



</div><!--Fin contenido del cuerpo--> 