
@{
    ViewBag.Title = "Australia";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


<div id="content_wrapper">

    <!--Titulo superior con imagen-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0">
        <ul>
            <li><a href="javascript:;">Australia</a></li>
        </ul>
    </div>


    <div class="clearfix"></div>
    <div class="full_width destinaion_sorting_section">
        <div class="container">
            <div class="row space_100">


                <!-- Columna Izquierda -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="Travelite_left_sidebar_second">

                        <!--Sobre el destino-->
                        <aside class="widget about_us_widget">
                            <h4 class="widget-title">Sobre</h4>
                            <div class="widgett text_widget">
                                <p>Australia es el sexto país más grande del mundo con una superficie de 7 686 850 km². Su capital, Canberra, se encuentra en el Territorio de la Capital Australiana. </p>
                            </div>

                        </aside>
                        <aside class="widget hotel_widgets_deals">
                            <h4 class="widget-title">Otros Destinos</h4>
                            <div class="widgett">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Canada", "Paseos")"><img src="~/Content/images/Home/Canada/canadian-flag.jpg" alt="hotel thumb" /></a>

                                        <div class="hotel_deals_details"></div>
                                        <h4>CANADA</h4>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Irlanda", "Paseos")"><img src="~/Content/images/Home/Irlanda/ireland-flag.jpg" alt="hotel thumb" /></a>
                                        <div class="hotel_deals_details">
                                            <h4>IRLANDA</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/images/Home/costarica-flag.jpg" alt="hotel thumb">
                                        <div class="hotel_deals_details">
                                            <h4>COSTA RICA</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/images/Home/singapore-flag.jpg" alt="hotel thumb">
                                        <div class="hotel_deals_details">
                                            <h4>SINGAPUR</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/images/Home/island-flag.jpg" alt="hotel thumb">
                                        <div class="hotel_deals_details">
                                            <h4>ISLANDIA</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </aside>

                    </div>
                </div>
                <!-- Finaliza la columna izquierda-->
                <!-- Columna Derecha  -->
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="tour_packages_right_section left_space_40">
                        <div class="tour_packages_details_top hotel_details_package">

                            <div class="top_head_bar">
                                <h4>Australia</h4><span class="sub_city"></span>
                            </div>
                            <div class="bottom_desc">
                                <h5 class="starting_text">Valor por noche y vuelo <span>$456/</span>por persona</h5>
                                <div class="row">
                                    <div class="col-lg-6 top_icons_part">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Fotos de inicio -->
                        <div class="hotel_thumbnail_slider">
                            <ul class="thumbnail_hotel_slider">
                                <li><img src="~/Content/images/Home/Australia/australiaopera.jpg" alt="slide"></li>
                                <li><img src="~/Content/images/Home/Australia/australiamontaña.jpg" alt="slide"></li>
                                <li><img src="~/Content/images/Home/Australia/australian-animales.jpg" alt="slide"></li>
                                <li><img src="~/Content/images/Home/Australia/australia de noche.jpg" alt="slide"></li>

                            </ul>

                            <!--fotos del carrusel-->
                            <div id="bx-pager" class="hotel_thumbnail_crousel">
                                <a data-slide-index="0" href=""><img src="~/Content/images/Home/Australia/australiaopera.jpg" alt="slide"></a>
                                <a data-slide-index="1" href=""><img src="~/Content/images/Home/Australia/australiapaisaje.jpg" alt="slide"></a>
                                <a data-slide-index="2" href=""><img src="~/Content/images/Home/Australia/australian-animales.jpg" alt="slide"></a>
                                <a data-slide-index="2" href=""><img src="~/Content/images/Home/Australia/australia de noche.jpg" alt="slide"></a>

                            </div>

                        </div>
                        <!-- slider end -->
                        <!-- Booking area Start-->
                        <div class="booking_area_section">
                            <p>
                                Australia está dividida en seis estados, dos territorios continentales y otros territorios menores. Los estados son Nueva Gales del Sur (NSW), Queensland (QLD), Australia Meridional (SA), Tasmania (TAS), Victoria (VIC) y Australia Occidental (WA).
                                Australia es uno de los 14 países independientes que conforman Oceanía y es el sexto más grande del mundo. Rodeada por los océanos Índico, Glacial Antártico y Pacífico, está separada de Asia por los mares de Arafura y Timor.
                            </p>



                        </div>
                        <!-- Booking area End -->
                        <!-- package tabs start -->
                        <div class="full_width hotel_details_mdl_tab" id="Travelite_middle_tabs">
                            <div class="pcg_tabs_panel">
                                <ul>
                                    <li> <a href="#tab_search_1">Detalles</a></li>
                                    <li> <a href="#tab_search_4" class="">Comentarios</a></li>
                                </ul>
                            </div>


                            <!--  Primera parte  -->
                            <div id="tab_search_1" class="tab_details_part hotel_details_tab">
                                <div class="inner_content">
                                    <div class="inner_title">Comentarios</div>
                                    <p>
                                        Este tour cuenta con la gran oportunidad de visitar uno de los edificios más famosos y distintivos del siglo XX en Australia;
                                        Opera House Sydney; en el edificio se realizan obras de teatro, ballet, ópera o producciones musicales para todas las edades
                                        y gustos. Además, los amantes de la naturaleza pueden disfrutar de un sinfín de recorridos, desde rutas en coche hasta excursiones 
                                        por la naturaleza a través de los bosques australianos. 
                                    </p>

                                </div>
                            </div>

                            <!--  Segunda Parte -->
                            <div id="tab_search_4" class="tab_details_part hotel_details_tab">
                                <div class="inner_content">
                                    <div class="inner_title">Comentarios</div>
                                    <p>
                                        Jose Morales: <Br>
                                        "Bueno, lo que merece la pena es pasear por Darling Harbour, y por la zona de la Opera House, luego otras cosas como subir a la torre, subir por el puente de la bahia, aunque ya dije que es muy caro, ojo hay que hacer reserva para el puente.
                                        Esta muy bien el museo australiano, el Taronga Zoo, el Acuario merece mucho la pena.
                                        No te pierdas una vuelta por Chinatown, y comer en uno de sus restaurantes...
                                        Si se me ocurre algo mas ya lo pongo. De todas formas, en Sydney hay muchisima informacion, a cualquier sitio que vayas tienes folletos de propaganda de actividades para realizar, pero vamos a lo de siempre, es un poco carillo.""
                                        <Br>
                                        <Br>
                                        Maria Rodriguez: <Br>
                                        "Sydney es una ciudad preciosa, la bahia es espectacular, buena gente y mucho ambiente.
                                        Yo creo que 5 dias es suficiente para conocer un poco la ciudad...ya sabemos que para concer una ciudad verdaderamente hay que vivir un tiempo en ella...pero en plan turístico yo creo que da tiempo.
                                        A mi no me parecio una ciudad muy cara, me gustó como está estructurada, sus tiendas. bares, pubs, Puertos, playas, parques, playas etc....... es muy completa.""

                                        Un saludo.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>