
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div id="content_wrapper">
    <!--titulo pagina-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0">
        <ul>
            <li><a href="javascript:;">Destinos</a></li>
        </ul>
    </div>
    <!--titulo pagina-->
    <div class="clearfix"></div>

    <div class="full_width destinaion_sorting_section">
        <div class="container">
            <div class="row space_100">

                <!--Inicio descripcion -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="tour_packages_right_section left_space_40">
                        <div class="tour_packages_description">
                            <div class="tour_heading">
                                <h4>DESTINOS</h4>
                            </div>
                            <p>
                                La siguiente lista es de algunos de os lugares para visitar por medio de la empresa.
                                LAPAM es una empresa seria que busca cumplir la necesidad de nuestros cliente que desean viajar y conocer nuevos lugares
                                tanto nacionales como internacionales. Les brindamos todo lo requerido para hacer su sueño de viajar en una realidad.
                            </p>
                        </div>

                        <div class="full_width sorting_places_section">
                            <!--sort_list start -->
                            <div class="sorting_places_wrap  list_sorting_view">
                                <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                    <div class="thumb_wrape">
                                        <img src="~/Content/images/Home/Australia/australia1.jpg" class="img-responsive" alt="list thumb">
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-7 col-sm-7">

                                    <!--Inicia Australia-->
                                    <div class="top_head_bar">
                                        <h4><a href="#">Australia</a></h4>
                                        <span class="time_date"><i class="fa fa-clock-o"></i>Hoy</span>
                                    </div>
                                    <div class="bottom_desc">
                                        <h5>Starting from<span>$456/</span>por persona</h5>
                                        <!-- Iconos de los elementos que incluye-->
                                        <h5>Incluye</h5>
                                        <ul class="sort_place_icons">
                                            <li><i class="fa fa-car"></i> Transporte</li>
                                            <li><i class="fa fa-plane"></i> Pasajes</li>
                                            <li><i class="fa fa-cutlery"></i> Desayuno</li>
                                            <li><i class="fa fa-building-o"></i> Hotel</li>
                                        </ul>
                                        <div>
                                            <a href="@Url.Action("Australia", "Paseos")" class="list_view_details btns">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Inicia Canada -->
                            <div class="sorting_places_wrap  list_sorting_view">
                                <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                    <div class="thumb_wrape">
                                        <img src="~/Content/images/Home/Canada/canada1.jpg" class="img-responsive" alt="list thumb">
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="top_head_bar">
                                        <h4><a href="#">Canada</a></h4>
                                        <span class="time_date"><i class="fa fa-clock-o"></i>1days</span>
                                    </div>
                                    <div class="bottom_desc">
                                        <h5>Starting from<span>$835 /</span>por persona</h5>

                                        <ul class="sort_place_icons">
                                            <li><i class="fa fa-plane"></i> Pasajes</li>
                                            <li><i class="fa fa-binoculars"></i>Paseo turistico</li>
                                            <li><i class="fa fa-cutlery"></i> Desayunos</li>
                                            <li><i class="fa fa-building-o"></i>Hoteles</li>
                                        </ul>

                                        <div>
                                            <a href="@Url.Action("Canada","Paseos")" class="list_view_details btns">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Inicia Australia-->
                            <div class="sorting_places_wrap  list_sorting_view">
                                <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                    <div class="thumb_wrape">
                                        <img src="~/Content/images/Home/Irlanda/irlanda1.jpg" class="img-responsive" alt="list thumb">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">

                                    <div class="top_head_bar">
                                        <h4><a href="#">Irlanda</a></h4>
                                        <span class="time_date"><i class="fa fa-clock-o"></i>Hoy</span>
                                    </div>
                                    <div class="bottom_desc">
                                        <h5>Starting from<span>1300/</span>por persona</h5>

                                        <h5>Incluye</h5>
                                        <ul class="sort_place_icons">
                                            <li><i class="fa fa-car"></i> Transporte</li>
                                            <li><i class="fa fa-plane"></i> Pasajes</li>
                                            <li><i class="fa fa-cutlery"></i> Comida</li>
                                            <li><i class="fa fa-building-o"></i> Hotel</li>
                                        </ul>
                                        <div>
                                            <a href="@Url.Action("Irlanda", "Paseos")" class="list_view_details btns">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

