
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<!--Inicia contenido de cuerpo-->
<div id="content_wrapper">
    <!--Inicia titulo de pagina-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" ;>
        <ul>
            <li><a href="javascript:;">Acerca Nosotros</a></li>
        </ul>
    </div>
    <!--Termina titulo de pagina-->
    <div class="clearfix"></div>

    <!--Inicia breve historia de nosotros -->
    <section class="full_width ds_traveller_story">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                    <div class="left_side_slider">

                        <ul class="about_slider">
                            <li><img src="~/Content/images/Home/nosotros1.png" alt=""></li>
                            <li><img src="~/Content/images/Home/nosotros2.png" alt=""></li>

                        </ul>

                        <br />
                        <h3>Misión</h3>
                        Brindar el mejor servicio con el fin de lograr la completa satisfacción del cliente con nuestros paquetes turísticos a precios accesibles para que las familias y amigos disfruten de conocer las maravillas más importantes del mundo. Además de brindar la mejor asesoría para que nuestros clientes puedan ser candidatos  para
                        obtener una experiencia inolvidable.

                        <h3>Visión</h3>
                        Se pretende que nuestra agencia de viajes sea la mejor  brindando un servicio de calidad como ya es costumbre y contara con una sucursal capaz de ir rompiendo barreras y logrando viajes a destinos no ofrecidos por ninguna otra agencia además de contar con su propia línea de transportes especializados.
                        <br />

                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 Travelite_about_right_side">
                    <div class="right_side_details">
                        <h3>Breve Historia Acerca <b class="traveller_text_b"> LAPAM</b></h3>
                        <p>
                            En 2015, lanzamos viajeros con la creencia de compartir nuestro deseo de experimentar auténticas aventuras de manera responsable y sostenible. Hemos crecido de un espectáculo de un hombre a una empresa de más de 50 en todo el mundo, y de un puñado de viajes en todo el mundo a cientos de aventuras en todo el mundo ... y más allá!
                            Hay muchas variaciones de pasajes de disponibles, pero la alegría siempre se encuentra en cada uno de ellos, por el humor que se ve incorporado. Hay muchas variaciones de viajes pero cada uno con experiencias únicas.
                            
                            
                        </p>
                    </div>


                    <div class="full_width check_lists">
                        <h3>Valores Principales</h3>
                        <ul>
                            <li><label>Integridad</label> <p>-Hacer las cosas correctas</p></li>
                            <li><label>Responsable</label> <p>-Pensar global,actuar local</p></li>
                            <li><label>Crecimiento</label> <p>-Interesados en nuestro propio éxito</p></li>
                            <li><label>Innovación</label> <p>-Floreciendo nuevas ideas y abarzando cambios</p></li>
                            <li><label>Diversión</label> <p>Unido a lo que somo y hacemos</p></li>
                            <li><label>Pasión</label> <p>-Inspirados por el trabajo, hacemos los mejor.</p></li>
                        </ul>

                    </div>

                </div>
            </div>

        </div>

    </section>
    <!-- Termina breve historia de nosotros -->
    <!-- Inicia seccion de equipo-->
    <div class="full_width team_section">
        <div class="container">
            <div class="row">
                <div class="heading_team">
                    <h3>Nuestro equipo</h3>
                    <p>Contamos con equipo altamente calificado cuyo objetivo es estar al pendiente de todos y cada uno de nuestros clientes</p>
                </div>
                <!-- team first start -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="tr_team_wrapper full_width">
                        <div class="thumb_wrap">
                            <img src="~/Content/images/Home/Mujer1.jpg" class="img-responsive"
                                 alt="">
                        </div>
                        <div class="tr_team_desc">
                            <h4>Tatiana Fernández</h4>
                            <div class="title_tag">
                                CEO
                            </div>
                            <div class="team_social_media">
                                <i class="fa fa-facebook"></i>

                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team first end -->
                <!-- team second start -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="tr_team_wrapper full_width">
                        <div class="thumb_wrap">
                            <img src="~/Content/images/Home/mujer2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="tr_team_desc">
                            <h4>Shirley Quirós</h4>
                            <div class="title_tag">
                                Gerente de Ventas
                            </div>
                            <div class="team_social_media">
                                <i class="fa fa-facebook"></i>

                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team second end -->
                <!-- team thired start -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="tr_team_wrapper full_width">
                        <div class="thumb_wrap">
                            <img src="~/Content/images/Home/diego.jpg"  class="img-responsive" alt="">
                        </div>
                        <div class="tr_team_desc">
                            <h4>Diego Valverde</h4>
                            <div class="title_tag">
                                Manager
                            </div>
                            <div class="team_social_media">
                                <i class="fa fa-facebook"></i>

                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team thired end -->
                <!-- team fourth start -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="tr_team_wrapper full_width">
                        <div class="thumb_wrap">
                            <img src="~/Content/images/Home/jorge.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="tr_team_desc">
                            <h4>Jorge Salas</h4>
                            <div class="title_tag">
                                Mercadeo
                            </div>
                            <div class="team_social_media">
                                <i class="fa fa-facebook"></i>

                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team fourth end -->
            </div>
        </div>
    </div>
    <!-- team section start -->
    <!-- contact details section start -->
    <div class="full_width tr_contact_detais_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="conatact_form_ds">
                        <h4>Comunícate con nosotros</h4>
                        <form>
                            <input type="text" name="name" placeholder="Nombre" class="input_c" required="required">
                            <input type="email" name="email" placeholder="Correo" class="input_c" required="required">
                            <input type="text" name="phone" placeholder="Teléfono" class="input_c" required="required">
                            <textarea class="text_area_c" placeholder="Comentario" name="msgs"></textarea>
                            <input type="submit" value="Enviar" class="btn_green" id="form_submit">
                        </form>

                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-8 col-lg-offset-2">
                            <div class="address_contact_details">
                                <div class="address_detais_city">
                                    San José:
                                </div>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> ULACIT, Barrio Tournón, San José.</li>
                                    <li><i class="fa fa-envelope"></i> Info@travellers.com</li>
                                    <li><i class="fa fa-phone"></i> +506 2235 3654 </li>
                                </ul>
                            </div>

                            <div class="address_contact_details">
                                <div class="address_detais_city">
                                    Heredia:
                                </div>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> San Rafael, Heredia.</li>
                                    <li><i class="fa fa-envelope"></i> Info@travellers.com</li>
                                    <li><i class="fa fa-phone"></i> +506 2456 5774</li>
                                </ul>
                            </div>
                            <div class="address_contact_details">
                                <div class="address_detais_city">
                                    Cartago:
                                </div>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> Tres Ríos, Cartago.</li>
                                    <li><i class="fa fa-envelope"></i> Info@travellers.com</li>
                                    <li><i class="fa fa-phone"></i> +506 8867 2355</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-5 col-sm-4 t_align_c">
                            <!-- facebook squre start -->
                            <div class="social_box facebook_b_wrap">
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <div class="social_likes">30000</div>
                                <div class="shares_and_likes">shares & Likes</div>
                            </div>
                            <!-- facebook squre End -->
                            <!-- twitter squre start -->
                            <div class="social_box twitter_b_wrap">
                                <a href="#"><i class="fa fa-twitter-square"></i></a>
                                <div class="social_likes">9000</div>
                                <div class="shares_and_likes">followers</div>
                            </div>
                            <!-- twitter squre End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- contact details section End -->
    <!-- contact section End -->
    <!-- counter section End -->

</div>
<!--content body end-->


