
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
 <!--content body start-->
<div id="content_wrapper">
    <!--page title start-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" style="background-image:url(http://placehold.it/1599x640);">
        <ul>
            <li><a href="javascript:;">Special Offers</a></li>
        </ul>
    </div>
    <!--page title end-->
    <div class="clearfix"></div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="travel_heading center">This Month Deals</h3>
            </div>
        </div>
    </div>

    <section class="travel_section section_overlay light mb-100" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url(http://placehold.it/1600x809/ececec); min-height:500px;">
        <!--services start-->
        <div class="container">
            <div class="row">
                <div class="offer_wrapper">
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="http://placehold.it/370x534" alt="" />
                            <div class="text_wrapper">
                                <h3>Breakfast & SPA free <br>for two days</h3>
                                <a href="javascript:;" class="btn-travel btn-green">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="http://placehold.it/370x252" alt="" height="254" />
                            <div class="text_wrapper">
                                <h3>30% Offer for Luxury room</h3>
                                <a href="javascript:;" class="btn-travel btn-green">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="http://placehold.it/370x534" alt="" />
                            <div class="text_wrapper">
                                <h3>Enjoy your Goa trip <br>with 40% off</h3>
                                <a href="javascript:;" class="btn-travel btn-green">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="http://placehold.it/370x529" alt="" />
                            <div class="text_wrapper">
                                <h3>Tree house 30% offer few booking only available</h3>
                                <a href="javascript:;" class="btn-travel btn-green">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="http://placehold.it/370x257" alt="" />
                            <div class="text_wrapper">
                                <h3>Australia to South Africa flight ticket 50% off</h3>
                                <a href="javascript:;" class="btn-travel btn-green">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="offer">
                            <img src="http://placehold.it/370x257" alt="" />
                            <div class="text_wrapper">
                                <h3>Honeymoon trip to any where 20% offer for tickets</h3>
                                <a href="javascript:;" class="btn-travel btn-green">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--services end-->
    </section>


    <section class="travel_section section_overlay dark2 pb-50 pt-50" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url(http://placehold.it/1600x867); min-height:382px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="offer_call_to_action text-center">
                        <h3>Hotels & Food <span>Free..!</span></h3>
                        <p>For Booking Australia tours this offers only for a hour only. This offers only for</p>
                        <h4>First 50 Booking Customers</h4>
                        <a href="javascript:;" class="btn-travel black">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="travel_section pb-50 pt-50" style="min-height:382px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-sm-8">
                    <div class="offer_hex_wrapper">
                        <div class="hive offer_hex_item blog-4s-first">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('http://placehold.it/150x185')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>This Week Deal</span>
                                                                                    <h4>Flat 10% Off</h4>
                                                                                    <p>america</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Blog item overlay -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="hive offer_hex_item">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('http://placehold.it/150x185')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>This Week Deal</span>
                                                                                    <h4>Flat 30% Off</h4>
                                                                                    <p>malaysia</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Blog item overlay -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog Item -->
                        <div class="hive offer_hex_item">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('http://placehold.it/150x185')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>This Week Deal</span>
                                                                                    <h4>Flat 10% Off</h4>
                                                                                    <p>australia</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Blog item overlay -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="hive offer_hex_item blog-4s-first">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('http://placehold.it/150x185')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>This Week Deal</span>
                                                                                    <h4>Flat 40% Off</h4>
                                                                                    <p>india</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Blog item overlay -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog Item -->
                        <div class="hive offer_hex_item">
                            <div class="hex outer-hex">
                                <div class="hex-in1">
                                    <div class="hex-in2 outer-hex">
                                        <div class="hex inner-hex">
                                            <div class="hex-in1">
                                                <div class="hex-in2 hex-area">
                                                    <div class="hive offer_hex_item_overlay">
                                                        <div class="hex outer-hex">
                                                            <div class="hex-in1">
                                                                <div class="hex-in2 outer-hex">
                                                                    <div class="hex inner-hex">
                                                                        <div class="hex-in1">
                                                                            <div class="hex-in2 hex-area" style="background-image: url('http://placehold.it/150x185')">
                                                                                <div class="offer_hex_info">
                                                                                    <span>This Week Deal</span>
                                                                                    <h4>Flat 20% Off</h4>
                                                                                    <p>Singapore</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Blog item overlay -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end blog Item -->
                    </div>
                </div>

                <div class="col-lg-6 col-md-5 col-sm-4">
                    <div class="offer_detail_wrapper">
                        <h3 class="travel_heading right">Travelite Offers</h3>
                        <p class="text-right">
                            There are many variations of passages of Lorem Ipsum available, but the joy have suffered alteration in some format, by injected humour.  There are many variations of passages of Lorem
                            available, but the joy have suffered alteration in some format, by injected humour .
                            There are many variations of passages of Lorem Ipsum available.
                        </p>
                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Daily Deals</li>
                            <li><i class="fa fa-check-square-o"></i> Monthly Deals</li>
                            <li><i class="fa fa-check-square-o"></i> Holidays Pack</li>
                            <li><i class="fa fa-check-square-o"></i> Travel Deals</li>
                            <li><i class="fa fa-check-square-o"></i> Last minute Deal</li>
                            <li><i class="fa fa-check-square-o"></i> Hand Picked Deals</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>



</div>
<!--content body end--> 

