
/*a:focus {

    text-decoration: none;
}
ul{
		padding:0px;
}
.events_thumb_slider {
    float: left;
    width: 100%;
    background: #f4f4f4;
    padding: 23px;
}
ul.social_reviews li a {
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    margin-right: 4px;
}
.slide_timing {
    color: #999999;
}
.containt_container ul.social_reviews {
    padding: 0px;
	margin:0px;
}
.containt_container ul.social_reviews li {
    display:inline-block;
}
.containt_container {
    background: #fff;
    padding: 20px;
    border: 1px solid #eeeeee;
}
.Travelite_slide_title {
    text-transform: uppercase;
    color: #2c3e50;
}
.slide_right_thumb img{
		display:inline-block;
		width:50%;
}
.slide_right_thumb img:first-child {
    margin-right: 12px;
}
.slide_right_thumb img {
    float: left;
    width: 116px !important;
}
.slide_paragraph {
    color: #808b8d;
    line-height: 22px;
    padding-top: 25px;
    float: left;
}*/