<meta charset="utf-8" />

<title>Travelite - Tours and Travels Online Booking HTML</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="Travelite - Tours and Travels Online Booking HTML" />
<meta name="keywords" content="Travel, html template, Travelite template">
<meta name="author" content="Kamleshyadav" />
<meta name="MobileOptimized" content="320">

<!--srart theme style -->
<link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
<!-- end theme style -->
<!-- favicon links -->
<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<link rel="icon" type="image/ico" href="favicon.ico" />
