<meta charset="utf-8" />

<title>LAPAM - Tours y Viajes a tu alcance</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="LAPAM - Tours y Viajes a tu alcance" />
<meta name="keywords" content="LaPAM, tours, alcance">
<meta name="author" content="Tatiana Fernández - Shirley Quirós" />
<meta name="MobileOptimized" content="320">

<!--Estilo del tema -->
<link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
<!--Estilo del tema -->
<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<link rel="icon" type="image/ico" href="favicon.ico" />
